<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "ISO-8859-1">
		<title>Tambah Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header" align="center">
						<h3>Tambah Pegawai</h3>
					</div>
					<div class="card-body">
						<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
						 <div class="form-group row">
						    <label for="nama" class="col-sm-2 col-form-label">Nama</label>
						    <div class="col-sm-8">
						      <input required type="text" class="form-control" name="nama" id="nama" placeholder="Masukan nama">
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="tempat_lahir" class="col-sm-2 col-form-label">Tempat Lahir</label>
						    <div class="col-sm-8">
						      <input required type="text" class="form-control" name="tempat_lahir" id="tempat_lahir" placeholder="Masukan tempat lahir">
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="tanggal_lahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
						    <div class="col-sm-8">
						      <input required type="date" class="form-control" name="tanggal_lahir" id="tanggal_lahir">
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="tahun_masuk" class="col-sm-2 col-form-label">Tahun Masuk</label>
						    <div class="col-sm-8">
						      <input required type="number" class="form-control" name="tahun_masuk" id="tahun_masuk">
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="provinsi" class="col-sm-2 col-form-label">Provinsi</label>
						    <div class="col-sm-8">
						    <select class="form-control" name="provinsi" id="provinsi">
						    	<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
						    </select> 
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="provinsi" class="col-sm-2 col-form-label">Nama Instansi</label>
						    <div class="col-sm-8">
						    <select class="form-control" name="instansi" id="instansi">
						    	<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"></option>
						    </select> 
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="provinsi" class="col-sm-2 col-form-label">Jabatan</label>
						    <div class="col-sm-8">
						    <select class="form-control" name="jabatan" id="jabatan">
						    	<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
						    </select> 
						    </div>
						  </div>
						</form>
						<br>
						<div class="form-group row">
						<div class="col-md-5"  align="center">
							    <form th:action="@{/}" method="GET">
							    	<button type="submit" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i> Kembali</button>
							    </form>
							</div>
						    <div class="col-sm-5" align="center">
						      <button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i> Tambah</button>
						    </div>
						  </div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>