<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "ISO-8859-1">
		<title>Ubah Jabatan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header" align="center">
						<h3>Ubah Jabatan</h3>
					</div>
					<div class="card-body">
						<form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
						  <input type="hidden" name="id" th:value="${jabatan.id}" />
						  <div class="form-group row">
						    <label for="nama" class="col-sm-2 col-form-label">Nama</label>
						    <div class="col-sm-8">
						      <input required type="text" class="form-control" name="nama" th:value="${jabatan.nama}" placeholder="Masukan nama">
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="deskripsi" class="col-sm-2 col-form-label">Deskripsi</label>
						    <div class="col-sm-8">
						      <input required type="text" class="form-control" name="deskripsi" th:value="${jabatan.deskripsi}" placeholder="Masukan deskripsi">
						    </div>
						  </div>
						  
						  <div class="form-group row">
						    <label for="gaji_pokok" class="col-sm-2 col-form-label">Gaji Pokok</label>
						    <div class="col-sm-8">
						      <input required type="text" class="form-control" name="gaji_pokok" th:value="${jabatan.gaji_pokok}" placeholder="Masukan gaji pokok" value="5000000">
						    </div>
						  </div>
						  <br>
						  <div class="form-group row" align="center">
						    <div class="col-sm-10">
						      <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
						    </div>
						  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>